body {
    background: white;
    margin: 0;
    font-family: Arial;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.box {
    background: #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 20px;
}

@media (max-width: 699px) {
    body {
        background: lightblue;
    }
    .container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    body {
        background: lightyellow;
    }
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1001px) {
    body {
        background: lightgreen;
    }
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}